<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="features/workout-generator/tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">features/workout-generator/tests/unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">features/workout-generator/tests/integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">features/workout-generator</directory>
        </include>
        <exclude>
            <directory>features/workout-generator/tests</directory>
        </exclude>
    </coverage>
</phpunit> 